<html lang="en">
<body>
<label>Nachname:</label>
<input name="Nachname" [(ngModel)]="lastname" type="name" value={{this.lastname}} class="form-control"> <br>
<label>Vorname:</label>
<input name="Vorname" [(ngModel)]="firstname" type="name" value={{this.firstname}} class="form-control"> <br>
<label>Straße:</label>
<input name="Straße" [(ngModel)]="street" type="name" value={this.street}} class="form-control"> <br>
<label>PLZ:</label>
<input name="Postleitzahl" [(ngModel)]="postcode" type="name" value={this.postcode}} class="form-control"> <br>
<label>Stadt:</label>
<input name="Stadt" [(ngModel)]="city" type="name" value={this.city}} class="form-control"> <br>
<label>Telefonnummer:</label>
<input name="Telefonnummer" [(ngModel)]="phone" type="name" value={this.number}} class="form-control"> <br>
<div class="btn" (click)="returnToMainView()"> Zurück </div>
</body>
</html>
