<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>Employee anlegen</h2>
<label>Nachname:</label> <br>
<input name="Nachname" [(ngModel)]="lastname" type="name" class="form-control"> <br>
<label>Vorname:</label> <br>
<input name="Vorname" [(ngModel)]="firstname" type="name" class="form-control"> <br>
<label>Straße:</label> <br>
<input name="Straße" [(ngModel)]="street" type="name" class="form-control"> <br>
<label>PLZ:</label> <br>
<input name="Postleitzahl" [(ngModel)]="postcode" type="name" class="form-control"> <br>
<label>Stadt:</label> <br>
<input name="Stadt" [(ngModel)]="city" type="name" class="form-control"> <br>
<label>Telefonnummer:</label> <br>
<input name="Telefonnummer" [(ngModel)]="phone" type="name" class="form-control"> <br>
<div class="btn" (click)="addEmployee()"> Hinzufügen </div>
<div class="btn" (click)="cancelNewEmployeeView()"> Zurück </div>
</body>
</html>
