<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>Mitarbeiter mit Qualifikation</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees | async">
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>
      <div class="btn" (click)="editEmployee(employee.id)" style="margin-left: 10px">Bearbeiten</div>
    </td>
  </tr>
  </tbody>
</table>
<div class="btn" (click)="return()"> Zurück </div>
</body>
</html>
