<html lang="en">
<body>
<h1>Du wurdest weitergeleitet lol</h1>
<table>
  <thead>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees | async">
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>
      <div class="btn" (click)="deleteEmployee(employee.id)" style="margin-left: 10px">Löschen</div>
      <div class="btn" (click)="editEmployee(employee.id)" style="margin-left: 10px">Bearbeiten</div>
    </td>
  </tr>
  </tbody>
</table>
<table>
  <thead>
  <tr>
    <th>Designation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let qualification of qualifications | async">
    <td>{{qualification.designation}}</td>
    <td>
      <div class="btn" (click)="deleteQualification(qualification.id)" style="margin-left: 10px">Löschen</div>
    </td>
  </tr>
  </tbody>
</table>
<label>Qualifikation hinzufügen</label> <br>
<input name="Qualifikation" [(ngModel)]="this.designation" type="name" class="form-control"> <br>
<div class="btn" (click)="addNewQualification()"> Hinzufügen </div> <br>
<div class="btn" (click)="onSubmitLogOutButton()"> Ausloggen </div>
<div class="btn" routerLink="/employee/new" (click)="addEmployee()"> Neuen Mitarbeiter hinzufügen </div>
<div class="btn" (click)="goToQualifications()"> Qualifikationen </div>
</body>
</html>
