<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>Login</h2>
<label>Username:</label> <br>
<input name="Benutzername" [(ngModel)]="username" type="name" class="form-control"> <br>
<label>Passwort:</label> <br>
<input name="Passwort" [(ngModel)]="password" type="password" class="form-control"> <br><br>
<div class="btn" (click)="onSubmit()">Einloggen</div>
</body>
</html>
